[Desktop Entry]
# Managed by setup-ubuntu-workstation
Name=Antigravity IDE
Comment=Google Antigravity IDE
GenericName=Text Editor
Exec=/usr/local/bin/antigravity-ide %F
Icon=antigravity-ide
Type=Application
StartupNotify=false
StartupWMClass=Antigravity IDE
Categories=TextEditor;Development;IDE;
Keywords=antigravity;vscode;
Actions=new-empty-window;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=/usr/local/bin/antigravity-ide --new-window %F
Icon=antigravity-ide
